// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/**
 * Basic styles for links
 */
a:not([class]) {
    color: currentColor;
    text-decoration: underline;

    &:visited {
        color: currentColor;
    }
}

/**
 * Basic styles for lists
 */
ul,
ol {
    margin: 0;
    padding: 0;
}
