// -----------------------------------------------------------------------------
// This file contains all styles related to the alert component.
// -----------------------------------------------------------------------------

.alert {
  background-color: var(--color-cream-95);
  border-radius: var(--radius-sm);
  color: var(--alert-color, rgb(0 0 0));
  font-weight: 500;
  margin-block: var(--space-md) var(--space-lg);
  padding: var(--space-sm);
  position: relative;
}

.alert:empty {
  display: none;
}
