// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    align-items: center;
    appearance: none;
    background-color: var(--color-green-45);
    border: solid var(--border-thin) var(--fl-fgColor, transparent);
    border-radius: var(--radius-lg);
    box-shadow: 0 1rem 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-35)));
    color: var(--color-white);
    display: inline-flex;
    font-family: inherit;
    font-size: var(--step-1);
    font-weight: var(--font-weight-semibold);
    height: 5rem;
    justify-content: center;
    margin-block: 2rem 1rem;
    max-width: 20rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    svg {
        height: 1em;
        margin-inline-end: 0.5em;
        width: auto;
    }

    &:hover {
        box-shadow: 0 1rem 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
    }

    &:focus {
        border-color: var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        box-shadow: 0 1rem 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        outline: none;
    }

    &:active {
        border-color: var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        margin-block: calc(36 / 16 * 1rem) calc(12 / 16 * 1rem);
    }
}

.button--sm {
    border-radius: var(--radius-md);
    box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-35)));
    font-size: var(--step-0);
    height: 2.5rem;
    margin-block: calc(24 / 16 * 1rem) calc(12 / 16 * 1rem);
    max-width: 12rem;

    &:hover {
        box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
    }

    &:focus {
        box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        outline: none;
    }

    &:active {
        box-shadow: 0 calc(8 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--color-green-25)));
        margin-block: calc(32 / 16 * 1rem) calc(8 / 16 * 1rem);
    }
}
