// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    appearance: none;
    background: var(--color-white);
    border: var(--border-hairline) solid black;
    border-radius: var(--radius-xs);
    font-family: inherit;
    font-size: 100%;
    height: var(--space-lg);
    line-height: inherit;
    padding: var(--space-xxs) var(--space-md);
}

.button.button--primary {
    font-weight: 600;
}

.button:focus {
    border-color: var(--color-red-45);
    box-shadow: 0 0 0 var(--space-xxs) var(--color-red-45);
    outline: none;
}

.button:active {
    background: var(--color-red-45);
    border-color: var(--color-red-45);
    color: var(--color-white);
}

.link {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    padding: var(--space-xs);
}

.link.link--current {
    background: black;
    color: white;
}

.link:focus {
    box-shadow: 0 0 0 2px skyblue;
    outline: none;
}
