// -----------------------------------------------------------------------------
// This file contains all styles related to the call to action component.
// -----------------------------------------------------------------------------

.call-to-action {
  align-items: center;
  background-color: var(--color-white);
  block-size: 5rem;
  border-radius: var(--radius-lg);
  box-shadow: 0 1rem 0 0 var(--fl-fgColor, var(--cta-accent));
  color: currentcolor;
  display: inline-flex;
  font-size: var(--step-1);
  font-weight: var(--font-weight-semibold);
  inline-size: 100%;
  justify-content: center;
  margin-block: 2rem 1rem;
  max-inline-size: 20rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 1rem 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--cta-interactive)));
  }

  &:focus {
    box-shadow:
      0 0 0 calc(2 / 16 * 1rem) var(--fl-linkColor, var(--fl-fgColor, var(--cta-interactive))) inset,
      0 1rem 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--cta-interactive)));
    outline: none;
  }

  &:active {
    box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--fl-linkColor, var(--fl-fgColor, var(--cta-interactive)));
    margin-block: calc(36 / 16 * 1rem) calc(12 / 16 * 1rem);
  }
}
