.call-to-action {
    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    box-shadow: 0 1rem 0 0 var(--cta-accent);
    color: currentColor;
    display: inline-flex;
    font-size: var(--step-1);
    font-weight: var(--font-weight-semibold);
    height: 5rem;
    justify-content: center;
    margin-block: 2rem 1rem;
    max-width: 20rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        box-shadow: 0 1rem 0 0 var(--cta-interactive);
    }

    &:focus {
        box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--cta-interactive) inset, 0 1rem 0 0 var(--cta-interactive);
        outline: none;
    }

    &:active {
        box-shadow: 0 calc(12 / 16 * 1rem) 0 0 var(--cta-interactive);
        margin-block: calc(36 / 16 * 1rem) calc(12 / 16 * 1rem);
    }
}
