a.call-to-action {
    align-items: center;
    background-color: var(--color-white);
    border-radius: rem(40);
    display: inline-flex;
    height: rem(80);
    justify-content: center;
    min-width: rem(320);
}
