// -----------------------------------------------------------------------------
// This file contains all styles related to the callout component.
// -----------------------------------------------------------------------------

.callout {
    color: var(--color-teal-35);
    padding: var(--space-xl) var(--space-md);

    [aria-level="2"] {
        color: var(--color-black-05);
    }
}

.callout + .callout {
    border-top: var(--border-thin) solid var(--color-white);
}

@media (min-width: 960px) {
    .callout {
        padding-inline: var(--space-xl);
    }
}
