// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
    background-color: var(--color-cream-95);
    border: none;
    border-radius: var(--radius-md);
    box-shadow: 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
    padding: var(--space-md);
    position: relative;
}

.card__image {
    text-align: center;
}

.card__content {
    padding: var(--space-md);
}

.card a {
    text-decoration: none;

    &::before {
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0 0 0 var(--space-xs) var(--color-red-75) inset, 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
}

.card:focus-within {
    box-shadow: 0 0 0 var(--space-xs) var(--color-red-55) inset, 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);

    a {
        outline: none;
    }
}

.card .tag {
    font-weight: 600;
}
