// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
    background-color: var(--color-cream-95);
    border: none;
    border-radius: var(--radius-md);
    box-shadow: 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
    color: var(--color-black-05);
    padding: var(--space-md);
    position: relative;
}

.card__image {
    text-align: center;
}

.card__content {
    padding: var(--space-md);
}

.card a {
    text-decoration: none;

    &::before {
        content: "";
        display: block;
        height: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        width: 100%;
    }

    &:focus {
        background-color: inherit;
        box-shadow: none;
        color: inherit;
    }
}

.card picture {
    img {
        background-color: var(--color-white);
        border-radius: var(--radius-md);
    }

    &::after {
        border-radius: var(--radius-md);
    }
}

.card:hover {
    box-shadow: 0 0 0 var(--space-xs) var(--color-red-75) inset, 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
}

.card:focus-within {
    box-shadow: 0 0 0 var(--space-xs) var(--color-red-45) inset, 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);

    a {
        outline: none;
    }
}

.card .tag {
    font-weight: 600;
}

.card--yellow-75 {
    background-color: var(--color-yellow-75);
}

.card--yellow-75:hover {
    box-shadow: 0 0 0 var(--space-xs) var(--color-red-65) inset, 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
}
