.filters > * {
  display: block;
}

.filters > * + * {
  margin-block-start: var(--space-md);
}

/* purgecss start ignore */
[class*="--hide"] {
  display: none;
}

/* purgecss end ignore */

@media (min-width: 1024px) {
  .filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    inline-size: calc(100% + var(--space-md));
    justify-content: flex-start;
    margin-block: calc(-1 * var(--space-md)) 0;
    margin-inline: calc(-1 * var(--space-md)) 0;
  }

  .filters > * {
    align-items: center;
    display: flex;
    margin-block: var(--space-md) 0;
    margin-inline: var(--space-md) 0;
  }

  .filters > .button {
    margin-block: 2rem 1rem;
    margin-inline: var(--space-md) 0;

    &:active {
      margin-block: calc(36 / 16 * 1rem) calc(12 / 16 * 1rem);
      margin-inline: var(--space-md) 0;
    }
  }
}
