.filters > * {
    display: block;
}

.filters > * + * {
    margin-block-start: var(--space-md);
}

[class*="--hide"] {
    display: none;
}

@media (min-width: 1024px) {
    .filters {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: calc(-1 * var(--space-md)) 0 0 calc(-1 * var(--space-md));
        width: calc(100% + var(--space-md));
    }

    .filters > * {
        align-items: center;
        display: flex;
        margin: var(--space-md) 0 0 var(--space-md);
    }
}
