.grid-video [role="image"] {
  aspect-ratio: 320 / 310;
  background-color: var(--color-cream-75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--radius-md);
  display: block;
  margin-inline: auto;
  max-inline-size: calc(320 / 16 * 1rem);
  overflow: hidden;
}
