
input[type="text"],
input[type="email"],
textarea {
    background-color: var(--color-white);
    border: solid var(--border-thin) var(--fl-fgColor, var(--color-green-95));
    border-radius: var(--radius-md);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: var(--space-sm);
    width: 100%;

    &:focus {
        box-shadow: inset 0 0 0 calc(2 / 16 * 1rem) var(--fl-linkColor, var(--fl-fgColor, var(--color-green-35))), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        outline: none;
    }
}

/* purgecss start ignore */

[class*=fl-theme]:not(.fl-theme-prefsEditor-default) {
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-bottom-color: var(--fl-linkColor, var(--fl-fgColor, transparent)) !important;
        border-left-color: var(--fl-linkColor, var(--fl-fgColor, transparent)) !important;
        border-right-color: var(--fl-linkColor, var(--fl-fgColor, transparent)) !important;
        border-top-color: var(--fl-linkColor, var(--fl-fgColor, transparent)) !important;
    }
}

/* purgecss end ignore */

input[type="text"],
input[type="email"] {
    height: calc(87 / 16 * 1rem);
}

textarea {
    height: calc(142 / 16 * 1rem);
    resize: vertical;
}

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="checkbox"] + label::before {
    align-items: center;
    background-color: var(--fl-bgColor, var(--color-white));
    border: solid var(--border-hairline) var(--fl-fgColor, var(--color-green-45));
    border-radius: var(--radius-xs);
    content: "\00a0";
    display: inline-flex;
    height: calc(26 / 16 * 1rem);
    justify-content: center;
    margin-inline-end: var(--space-sm);
    width: calc(26 / 16 * 1rem);
}

input[type="checkbox"]:focus + label::before {
    border-color: var(--fl-linkColor, var(--color-green-35));
    box-shadow: inset 0 0 0 calc(2 / 16 * 1rem) var(--fl-linkColor, var(--fl-fgColor, var(--color-green-35)));
    color: var(--fl-linkColor, var(--fl-fgColor, currentColor));
}

input[type="checkbox"]:active + label::before {
    background-color: var(--fl-linkColor, var(--fl-fgColor, var(--color-green-35)));
    color: var(--fl-bgColor, var(--color-white));
    content: "\2713";
}

input[type="checkbox"]:checked + label::before {
    content: "\2713";
}
