// -----------------------------------------------------------------------------
// This file contains all styles related to the label component.
// ---------------------

.label {
  font-weight: 600;
}

.label > * {
  font-weight: normal;
}

label svg {
  block-size: 1em;
  inline-size: auto;
}
