// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------

.nav {
    margin-block-start: var(--space-lg);
}

.nav ul {
    display: flex;
    flex-direction: column;
}

.nav li + li {
    margin-block-start: var(--space-md);
}

.nav a {
    border-radius: var(--radius-xxs);
    font-family: var(--font-family-display);
    font-size: calc(24 / 16 * 1rem);
    font-weight: var(--font-weight-normal);
    height: calc(50 / 16 * 1rem);
    padding: var(--space-xs) var(--space-sm);
    position: relative;
    text-decoration: none;

    &[aria-current="page"] {
        @supports (mask-image: url('../images/wavy.svg')) {
            &::after {
                background-color: currentColor;
                content: "";
                display: block;
                height: rem(6);
                inset-block-end: calc(-1 * var(--space-sm));
                inset-inline-start: var(--space-sm);
                mask-image: url('../images/wavy.svg');
                mask-repeat: no-repeat;
                mask-size: rem(187) rem(6);
                position: absolute;
                width: calc(100% - (2 * var(--space-sm)));
            }
        }

        @supports (not (mask-image: url('../images/wavy.svg'))) {
            text-decoration-line: underline;
            text-decoration-style: wavy;
            text-underline-offset: var(--space-sm);
        }

        font-weight: var(--font-weight-black);
    }

    &:hover {
        color: var(--color-green-45);

        @supports (mask-image: url('../images/wavy.svg')) {
            &::after {
                background-color: var(--color-green-45);
            }
        }

        @supports (not (mask-image: url('../images/wavy.svg'))) {
            text-decoration-color: var(--color-green-45);
        }
    }

    &:focus {
        background-color: white;
        box-shadow: 0 0 0 var(--border-thin) currentColor;
        outline: none;
    }

    &:active {
        background-color: var(--color-green-45);
        box-shadow: 0 0 0 var(--border-thin) var(--color-green-45);
        color: var(--color-white);
    }
}

@media (min-width: 960px) {
    .nav {
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    .nav ul {
        flex-direction: row;
    }

    .nav li + li {
        margin-block-start: 0;
        margin-inline-start: var(--space-md);
    }
}
