// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------

.nav {
    margin-block-start: var(--space-lg);
}

.nav ul {
    display: flex;
    flex-direction: column;
}

.nav li {
    margin-block-start: 1rem;
    margin-inline-start: -0.5rem;
}

.nav a {
    padding: 0.5rem;

    &[aria-current="page"] {
        background: black;
        color: white;
    }
}

@media (min-width: 960px) {
    .nav {
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }

    .nav li {
        margin-block-start: 0;
        margin-inline-start: 1rem;
    }
}
