// -----------------------------------------------------------------------------
// This file contains all styles related to the placeholder component.
// -----------------------------------------------------------------------------

svg.placeholder {
    border: solid 1px currentColor;
    max-width: 100%;
    width: auto;

    rect {
        fill: none;
    }
}
