// -----------------------------------------------------------------------------
// This file contains all styles related to the radio group component.
// -----------------------------------------------------------------------------

.radio-group > * + * {
  margin-inline-start: 0.5rem;
}

.radio-group .button[aria-checked="true"] {
  background-color: black;
  color: white;
}
