// -----------------------------------------------------------------------------
// This file contains styles that are specific to the events page.
// -----------------------------------------------------------------------------
.events .filters > * {
    display: block;
}

.events .filters > * + * {
    margin-top: 1rem;
}

@media (min-width: 1024px) {
    .events .filters {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .events .filters > * {
        align-items: center;
        display: flex;
    }

    .events .filters > * + * {
        margin-left: 1rem;
        margin-top: 0;
    }

    .events button {
        margin-left: 0.5rem;
    }
}
