// -----------------------------------------------------------------------------
// This file contains styles that are specific to the products page.
// -----------------------------------------------------------------------------
.product .learning-resource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product .learning-resource + .learning-resource {
    border-top: 1px solid black;
    padding-top: 0.75rem;
}
