// -----------------------------------------------------------------------------
// This file contains styles that are specific to the resources page.
// -----------------------------------------------------------------------------

.resources .resource picture img {
    border-left: var(--space-lg) solid var(--color-orange-75);
}

.resources .resource + .resource {
    border-top: var(--border-hairline) solid var(--color-black-05);
    margin-block-start: var(--space-lg);
    padding-block-start: var(--space-lg);
}

.resource .supportive-materials a {
    svg {
        margin-block-end: calc(-1 * var(--space-xs));
        margin-inline-start: var(--space-sm);
    }
}

.resource .supportive-materials p + p {
    border-top: var(--border-hairline) solid var(--color-black-05);
    margin-block-start: var(--space-md);
    padding-block-start: var(--space-md);
}
