.page--share {
  main {
    background-color: var(--color-green-95);
  }

  form {
    border-block-start: solid var(--border-hairline) var(--color-black-05);
  }

  @media (min-width: 960px) {
    main {
      background-color: var(--color-white);
    }

    .header {
      background-color: var(--color-white);

      .wrapper {
        background-color: var(--color-green-95);
        border-start-end-radius: var(--radius-md);
        border-start-start-radius: var(--radius-md);
        box-shadow: 0 var(--space-xs) var(--space-xs) rgb(0 0 0 / 25%);
        margin-block: var(--space-xl) 0;
        margin-inline: auto;
      }
    }

    .content {
      .wrapper {
        background-color: var(--color-green-95);
        border-end-end-radius: var(--radius-md);
        border-end-start-radius: var(--radius-md);
        box-shadow: 0 var(--space-xs) var(--space-xs) rgb(0 0 0 / 25%);
        margin-block-end: var(--space-xl);
        padding-block-start: 0;
      }

      form {
        margin-block-start: var(--space-lg);
      }
    }
  }
}
