.page--share {
    main {
        background-color: var(--color-green-95);
    }

    form {
        border-top: solid var(--border-hairline) var(--color-black-05);
    }

    @media (min-width: 960px) {
        main {
            background-color: var(--color-white);
        }

        .header {
            background-color: var(--color-white);

            .wrapper {
                background-color: var(--color-green-95);
                border-top-left-radius: var(--radius-md);
                border-top-right-radius: var(--radius-md);
                box-shadow: 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
                margin: var(--space-xl) auto 0;
            }
        }

        .content {
            .wrapper {
                background-color: var(--color-green-95);
                border-bottom-left-radius: var(--radius-md);
                border-bottom-right-radius: var(--radius-md);
                box-shadow: 0 var(--space-xs) var(--space-xs) rgba(0, 0, 0, 0.25);
                margin-block-end: var(--space-xl);
                padding-block-start: 0;
            }

            form {
                margin-block-start: var(--space-lg);
            }
        }
    }
}
