        <article class=" [ card ]">
            <div class="[ card__image ]">
                {% image item.data.metaImage, item.data.metaImageAlt, 570, 393 %}
            </div>
            <div class="[ card__content ] [ flow ]">
                <h3 aria-level="2"><a href="/learn/robots/{{ item.data.title | slug }}/">{{ item.data.title }}</a></h3>
            </div>
        </article>
