            <nav class="nav mt-8 md:ml-auto md:mt-0" id="menu" aria-label="menu">
                <ul class="flex flex-col md:flex-row">
                    {% set navItems = collections.all | eleventyNavigation %}
                    {% for item in navItems %}
                    <li>
                        <a href="{{ item.url | url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
