        <nav class="w-full mb-12 pagination" aria-label="pagination">
            <ul class="flex flex-row items-center justify-center w-full">
            {%- if pagination.href.previous %}
                <li class="ml-2"><a class="p-2" href="{{ pagination.href.previous }}"><span aria-hidden="true">&larr;</span><span class="sr-only">previous</span></a></li>
            {%- endif %}
            {%- for pageEntry in pagination.pages %}
                <li class="ml-2"><a class="p-2 {% if page.url == pagination.hrefs[ loop.index0 ] %} bg-black text-white no-underline{% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
            {%- endfor %}
            {%- if pagination.href.next %}
                <li class="ml-2"><a class="p-2" href="{{ pagination.href.next }}"><span class="sr-only">next</span><span aria-hidden="true">&rarr;</span></a></li>
            {%- endif %}
            </ul>
        </nav>
