---
permalink: /lessonPlans.json
---
[
    {%- for lessonPlan in collections.lessonPlans %}
    {
        "title": "{{ lessonPlan.data.title }}",
        "url": "{{ lessonPlan.url }}",
        "robot": "{{ lessonPlan.data.robot }}",
        "experience": "{{ lessonPlan.data.experience }}",
        "topic": "{{ lessonPlan.data.topic }}",
        "description": "{{ lessonPlan.data.description }}"
    }{{ "" if loop.last else "," }}
    {%- endfor %}
]
