---
permalink: /products.json
---
[
    {%- for product in collections.products %}
    {
        "title": "{{ product.data.title }}",
        "url": "{{ product.url }}",
        "category": "{{ product.data.category }}",
        "description": "{{ product.data.description }}",
        "manufacturer": "{{ product.data.manufacturer }}"
    }{{ "" if loop.last else "," }}
    {%- endfor %}
]
