---
permalink: /projects.json
---
[
    {%- for project in collections.projects %}
    {
        "title": "{{ project.data.title }}",
        "category": "{{ project.data.category }}",
        "description": "{{ project.data.description }}",
        "link": "{{ project.data.link }}"
    }{{ "" if loop.last else "," }}
    {%- endfor %}
]
