    <footer role="contentinfo">
        <div class="[ wrapper ]">
            <div class="[ social ] [ flow ]">
            <h2 class="h3" id="social-media">Social Media</h2>
            <nav aria-labelledby="social-media">
                <ul role="list">
                    <li><a rel="external" href="https://instagram.com/codelearncreate">Instagram</a></li>
                    <li><a rel="external" href="https://twitter.com/codelearncreate">Twitter</a></li>
                </ul>
            </nav>
            </div>
            <div class="[ contact ] [ flow ]">
              <h2 class="h3">Contact us</h2>
              <div class="[ flow ]">
                <p><strong>Email</strong><br />
                <a href="mailto:idrc@ocadu.ca">idrc@ocadu.ca</a></p>
                <address><strong>Address</strong><br />
                  205 Richmond St. W., Second Floor<br />
                  Toronto, Ontario, Canada<br />
                  M5V 1V3
                </address>
              </div>
              <div class="[ flow ]">
                <p><strong>Phone</strong><br />
                (416) 977-6000 #3968</p>
                <p><strong>Fax</strong><br />
                (416) 977-9844</p>
              </div>
            </div>
            <div class="[ credits ] [ flow ]">
              <p>This project is supported by <a rel="external" href="https://www.ic.gc.ca/">Innovation, Science and Economic Development Canada’s</a> Accessible Technology Program and the <a rel="external" href="https://hewlett.org/">Hewlett Foundation</a>.</p>
              <p>Hosted with <a rel="external" href="https://netlify.com">Netlify</a>.</p>
            </div>
        </div>
    </footer>
