        <header role="banner" class="mt-12">
            <div class="wrapper px-6 py-6 max-w-screen-lg mx-auto flex flex-col md:flex-row md:justify-items-start">
            {% include "partials/components/brand.njk" %}
            {% include "partials/components/navigation.njk" %}
            </div>
        </header>
