{% extends "layouts/page.njk" %}

{% block content %}
<div class="[ bg bg--yellow-85 ]">
  <svg class="[ wave wave--top ]" viewBox="0 0 1437 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M612.315 52C400.697 52 111.495 20.667-4 0h1440.92c-81.96 0-560.084 52-824.605 52z" fill="var(--color-teal-75)" /></svg>
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2 class="h3">{{ goalSection.title }}</h2>
            {% renderString goalSection.content, "md" %}
            <p class="[ sm:center ]"><a class="call-to-action" rel="external" href="{{ goalSection.callToActionLink }}">{{ goalSection.callToActionText }}</a></p>
        </div>
        <div class="[ two:three__three ] ">
          {% image goalSection.image, goalSection.imageAlt, 640, 520 %}
        </div>
    </div>
  </div>
</div>
<div>
  <div class="[ wrapper ]">
    <h2 class="[ center ]">{{ whatWeDoSection.title }}</h2>
    <div class="[ switcher ]">
        <div>
          {% for card in whatWeDoSection.cards %}
            <div class="[ card card--small ]">
                <div class="[ card__content ] [ flow ]">
                    <h3><a class="[ card__link ]" href="{{ card.link }}">{{ card.title }}</a></h3>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="[ bg bg--green-85 ]">
  <div class="[ wrapper ]">
    <div class="[ center flow ]">
      <h2>{{ whoSection.title }}</h2>
      {% renderString whoSection.intro, "md" %}
    </div>
  </div>
</div>
<div class="[ bg ]">
  <div class="[ wrapper ]">
    <div class="[ switcher ]">
      <div>
        {% for partner in whoSection.partners %}
        <div class="[ flow ]">
          {% image partner.image, partner.imageAlt, 640, 520 %}
          <h3>{{ partner.name }}{% if partner.acronym %} ({{ partner.acronym }}){% endif %}</h3>
          {% renderString partner.content, "md" %}
          <p><a rel="external" href="{{ partner.link }}">Visit {{ partner.acronym if partner.acronym else partner.name }} website</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <svg class="[ wave wave--bottom ]" viewBox="0 0 1437 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M824.685 0C1036.3 0 1325.5 31.333 1441 52H.078C82.042 52 560.164 0 824.685 0z" fill="var(--color-red-75)"/></svg>
</div>
<div class="[ bg bg--red-75 ]">
  <div class="[ wrapper ]">
    <div class="[ center flow ]">
      <h2><a rel="external" href="{{ connectSection.titleLink }}">{{ connectSection.title }}</a></h2>
      {% renderString connectSection.content, "md" %}
    </div>
  </div>
</div>
{% endblock%}
