{% extends "layouts/base.njk" %}

{% set bodyClass = "activities" %}

{% block pageHeader %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endblock %}

{% block content %}
{% if activities.length %}
    {% for item in activities %}
        <article class="entry">
            <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
            <p class="metadata">{{ item.data.type }} &middot; {{ item.data.experience }} &middot; {{ item.data.subject }}</p>
            {% if item.data.description %}
            <p>{{ item.data.description | safe }}</p>
            {% endif %}
        </article>
    {% endfor %}
{% endif %}
{% endblock %}
