{% extends "layouts/base.njk" %}

{% set bodyClass = "activities" %}
{% set headerBg = "cream-95" %}

{% block headerScripts %}
    <script>window.location.href = "/learn/activities/#{{ type | slug }}";</script>
{% endblock %}

{% block content %}
<noscript>
  <div class="[ wrapper ]">
    <div class="[ flow-xl ]">
    {% if activities.length %}
        <div class="[ grid ]">
        {% for item in activities %}
            {% set level = 2 %}
            {% include "partials/components/card--activity.njk" %}
        {% endfor %}
        </div>
        {% if pagination.pages.length > 1 %}
        {% include "partials/components/pagination.njk" %}
        {% endif %}
    {% else %}
        <p>No {{ type }} activities found.</p>
    {% endif %}
    </div>
  </div>
</noscript>
{% endblock %}
