{% extends "layouts/base.njk" %}

{% set bodyClass = "activities" %}
{% set headerBg = "cream-95" %}

{% block content %}
<div class="[ wrapper ]">
  <div id="activities">
      <div class="[ flow-lg ]">
          <filter-container class="[ filter ] [ flow ]" data-oninit>
              <h2 class="[ h3 ]">Filter Activities</h2>
              <form class="[ filters ]">
                  <label class="[ label ]" for="type">
                      Type:
                      <select class="[ select ]" name="type" id="type" data-filter-bind="type">
                          <option value="">Any Type</option>
                          {% for type in activityTags.types %}
                          <option value="{{ type }}" data-slug="{{ type | slug }}">{{ type }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  <label class="[ label ]" for="experience">
                      Experience:
                      <select class="[ select ]" name="experience" id="experience" data-filter-bind="experience">
                          <option value="">Any Level</option>
                          {% for level in activityTags.experience %}
                          <option value="{{ level }}">{{ level }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  <label class="[ label ]" for="subject">
                      Subject:
                      <select class="[ select ]" name="subject" id="subject" data-filter-bind="subject">
                          <option value="">Any Subject</option>
                          {% for subject in activityTags.subjects %}
                          <option value="{{ subject }}">{{ subject }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  <button type="reset" class="[ button ] [ button--sm ]" id="reset">{% include "svg/reset.svg" %}Clear Filters</button>
              </form>
              <div class="[ alert ]" role="alert" aria-live="polite">
              <p>Showing <strong data-filter-results="activity/activities">{{ collections.activities.length }} activities</strong>.</p>
              </div>
              <div class="[ grid ]">
              {% for item in collections.activities %}
                  {% include "partials/components/card--activity.njk" %}
              {% endfor %}
              </div>
          </filter-container>
      </div>
  </div>
  <noscript class="[ flow-lg md:flow-xl ]">
      <div class="[ flow-md ]">
          <h2 id="unplugged">Unplugged Activities</h2>
          {% if collections.unpluggedActivities.length %}
          <div class="[ grid ]" aria-labelledby="unplugged">
          {% for item in collections.unpluggedActivities | limit(2) %}
              {% include "partials/components/card--activity.njk" %}
          {% endfor %}
          </div>
          <p><a href="/learn/activities/unplugged/">See more unplugged activities</a></p>
          {% else %}
          <p>No activities found.</p>
          {% endif %}
      </div>
      <div class="[ flow-md ]">
          <h2 id="on-screen">On-Screen Activities</h2>
          {% if collections.onscreenActivities.length %}
          <div class="[ grid ]" aria-labelledby="on-screen">
          {% for item in collections.onscreenActivities | limit(2) %}
              {% include "partials/components/card--activity.njk" %}
          {% endfor %}
          </div>
          <p><a href="/learn/activities/on-screen/">See more on-screen activities</a></p>
          {% else %}
          <p>No activities found.</p>
          {% endif %}
      </div>
      <div class="[ flow-md ]">
          <h2 id="hybrid">Hybrid Activities</h2>
          {% if collections.hybridActivities.length %}
          <div class="[ grid ]" aria-labelledby="hybrid">
          {% for item in collections.hybridActivities | limit(2) %}
              {% include "partials/components/card--activity.njk" %}
          {% endfor %}
          </div>
          <p><a href="/learn/activities/hybrid/">See more hybrid activities</a></p>
          {% else %}
          <p>No activities found.</p>
          {% endif %}
      </div>
  </noscript>
</div>
<script>
let hash = window.location.hash.replace('#', '');
let type = document.querySelector(`option[data-slug="${hash}"]`);
if (type) {
    type.selected = 'selected';
}
</script>
{% endblock %}
