{% extends "layouts/base.njk" %}

{% set bodyClass = "activity" %}

{% if (subject === "Sequencing") or (subject === "Conditions") or (topic === "Debugging") %}
  {% set headerBg = "yellow-75" %}
{% elif subject === "Sorting & Patterns" %}
  {% set headerBg = "orange-75" %}
{% elif subject === "Direction Based" %}
  {% set headerBg = "green-65" %}
{% elif subject === "Goal Based" %}
  {% set headerBg = "blue-35" %}
  {% set headerText = "white" %}
{% elif subject === "Introduction" %}
  {% set headerBg = "blue-65" %}
{% endif %}

{% block pageHeader %}
    <figure>
    <img src="{{ metaImage }}" alt="{{ metaImageAlt }}" />
    </figure>
    <div>
      <h1>{{ title }}</h1>
      <p class="[ tags ]">
          <span class="[ tag ]">{{ type }} Activity</span> <span class="[ tag ]">{{ experience }}</span> <span class="[ tag ]">{{ subject }}</span>
      </p>
    </div>
{% endblock %}

{% block content %}
    <div class="[ wrapper ] [ has-sidebar ]">
      <div class="[ sidebar ] [ flow ] [ bg bg--cream-95 ]">
        <div id="what-you-need" class="[ callout ] [ flow ]">
            <h2>What you need</h2>
            {% renderString whatYouNeed, "md" %}
        </div>
        {% if books %}
        <div id="books" class="[ callout ] [ flow ]">
            <h2>Book suggestions</h2>
            {% for book in books %}
            <div class="[ book ]">
                <img src="{{ book.coverImage }}" alt="" role="decoration" />
                <div class="book__meta">
                  <p class="book__title">{{ book.title }}</p>
                  <p class="book__author">{{ book.author }}</p>
                </div>
            </div>
            {% endfor %}
            <p><a href="/learn/resources/picture-book-list/">Check out other books</a></p>
        </div>
        {% endif %}
      </div>
      <div class="[ prose ]">
          {{ content | safe }}
      </div>
    </div>
    {% if relatedActivities %}
    <div class="[ bg bg--purple-35 text--white ]">
      <div class="[ wrapper ]">
        <div class="[ related-activities ]">
            <h2 class="h3">You may like this:</h2>
            <div class="[ grid ]">
            {% for relatedActivity in relatedActivities %}
                {% for activity in collections.activities %}
                    {% if activity.data.title == relatedActivity %}
                        {% set item = activity %}
                        {% include "partials/components/card--activity.njk" %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
