<!doctype html>
<html lang="en-ca" dir="ltr" class="no-js">
    <head>
        <title>{% if title %} {{ title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link type="image/x-icon" href="{{ '/' | url }}assets/images/favicon.ico" rel="shortcut icon"/>
        {% include "partials/global/scripts.njk" %}
        {% include "partials/global/stylesheets.njk" %}
        <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
        {% block headerScripts %}
        {% endblock %}
    </head>
    <body class="[ {{ bodyClass if bodyClass else "page" }} ]">
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main>
            <article>
                <header class="[ header ]{% if headerBg %} [ bg bg--{{ headerBg }} ]{% endif %}{% if headerText %} [ text--{{ headerText }} ]{% endif %}">
                    <div class="[ wrapper ]">
                    {% block pageHeader %}
                        <h1>{{ title }}</h1>
                        {% if subtitle %}
                        <p class="[ subtitle ] [ prose ]">{{ subtitle | safe }}</p>
                        {% endif %}
                        {% if page.url === "/" %}
                        <p class="[ sm:center ]"><a class="call-to-action" rel="external" href="https://create.weavly.org">Create</a></p>
                        {% endif %}
                    {% endblock %}
                    </div>
                </header>
                <nav class="flc-toc-tocContainer"></nav>
                <div class="[ content ]">
                    {% block content %}
                    {{ content | safe }}
                    {% endblock %}
                </div>
            </article>
        </main>
        {% include "partials/global/footer.njk" %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
        {% uioInit %}
    </body>
</html>
