{% extends "layouts/base.njk" %}

{% set bodyClass = "guide" %}
{% set headerBg = "green-85" %}

{% block pageHeader %}
  <figure>
    <img src="{{ metaImage }}" alt="{{ metaImageAlt }}" />
  </figure>
  <div class="[ flow ]">
    <h1>{{ title }}</h1>
    {{ tags | dump | safe }}
    <p class="[ metadata ]">By <span class="[ manufacturer ]"><a href="{{ manufacturerLink }}" rel="external">{{ manufacturer }}</a></span></p>
  </div>
{% endblock %}

{% block content %}
  <div class="[ wrapper ]">
    <div class="[ inner ] [ flow ]">
        <h3 aria-level="2">Available Learning Resources</h3>
        {% if resources %}
        {% for resource in resources %}
        <p class="[ learning-resource ]">
            <span class="[ resource-description ]">{{ resource.description }}</span>
            <span class="[ resource-link ]"><a href="{{ resource.link }}" rel="external">Visit website</a></span>
        </p>
        {% endfor %}
        {% else %}
        <p>No learning resources available.</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
