{% extends "layouts/base.njk" %}

{% set bodyClass = "home" %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
    <p class="[ subtitle ] [ prose ]"><span class="[ bg--green-85 ]">{{ subtitle | safe }}</span></p>
    <p class="[ sm:center ]"><a class="call-to-action" rel="external" href="{{ headerCallToActionLink }}">{{ headerCallToActionText }}</a></p>
{% endblock %}

{% block content %}
<div>
  <div class="[ wrapper ]">
    <h2 class="[ center ]">{{ createSection.title }}</h2>
    <div class="[ switcher ]">
        <div>
          {% for card in createSection.cards %}
            {% set isYouTube = card.link.includes('youtube') or card.link.includes('youtu.be') %}
            <div class="[ card card--small card--yellow-75 {% if isYouTube %}card--video {% endif %}]">
                  {% if card.image %}
                <figure class="[ card__image ]">
                  {% image card.image, "", 666, 480 %}
                </figure>
                {% endif %}
                <div class="[ card__content ] [ flow center ]">
                    <h3><a class="[ card__link ]{% if isYouTube %} [ video-card-link ]{% endif %}" href="{{ card.link }}"{% if isYouTube %} data-id="{{ card.link | getYouTubeId }}"{% endif %}>{% if isYouTube %}{% include "svg/play.svg" %}{% endif %}{{ card.title }}</a></h3>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="[ bg bg--yellow-85 ]">
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2>{{ learnSection.title }}</h2>
            {{ learnSection.content | markdown | safe }}
            <p class="[ sm:center ]"><a class="call-to-action" href="{{ learnSection.callToActionLink }}">{{ learnSection.callToActionText }}</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
          {% image learnSection.image, learnSection.imageAlt, 640, 520 %}
        </div>
    </div>
  </div>
</div>
<div class="[ bg bg--red-75 ]">
  <div class="[ wrapper ]">
    <div class="[ three:two ]">
        <div class="[ three:two__three ] [ flow ]">
          <a class="[ linked-video ]" data-id="G-l1Hh0KfK0" rel="external" href="https://www.youtube.com/watch?v=G-l1Hh0KfK0">
          {% include "svg/play.svg" %}
          <span class="visually-hidden">Check out our accessible coding prototype</span>
          {% image aboutSection.image, aboutSection.imageAlt, 640, 520 %}
          </a>
        </div>
        <div class="[ three:two__two ] [ flow ]">
          <h2>{{ aboutSection.title }}</h2>
            {{ aboutSection.content | markdown | safe }}
            <p class="[ sm:center ]"><a class="call-to-action" href="{{ aboutSection.callToActionLink }}">{{ aboutSection.callToActionText }}</a></p>
        </div>
    </div>
  </div>
  <svg class="[ wave wave--bottom ]" viewBox="0 0 1437 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M824.685 0C1036.3 0 1325.5 31.333 1441 52H.078C82.042 52 560.164 0 824.685 0z" fill="var(--color-green-85)"/></svg>
</div>
<div class="[ bg bg--green-85 ]">
  <div class="[ wrapper ]">
    <div class="[ center flow ]">
      <h2><a rel="external" href="{{ trySection.titleLink }}">{{ trySection.title }}</a></h2>
      {{ trySection.content | markdown | safe }}
    </div>
  </div>
</div>
{% endblock %}
