{% extends "layouts/base.njk" %}

{% set bodyClass = "organizations" %}

{% block content %}
<div id="organizations"></div>
<noscript class="[ flow ] [ flow-md ]">
{% if organizations.length %}
    {% for item in organizations %}
        <article class="[ organization ] [ two:three ]">
            <div class="[ three:two__three ]">
                {% svgPlaceholder "570", "380" %}
            </div>
            <div class="[ three:two__two ] [ flow ]">
            <h2>{{ item.data.title }}</h2>
                <p class="[ metadata ]"><span class="[ category ]">{{ item.data.category }}</span></p>
                {% if item.data.description %}
                <p>{{ item.data.description | safe }}</p>
                {% endif %}
                <p><a href="{{ item.data.link }}" rel="external">Visit website<span class="[ visually-hidden ]"> for &ldquo;{{ item.data.title }}&rdquo;</span></a></p>
            </div>
        </article>
    {% endfor %}
    {% if pagination.pages.length > 1 %}
    {% include "partials/components/pagination.njk" %}
    {% endif %}
</div>
{% else %}
<p>No organizations found.</p>
{% endif %}
</noscript>
<script type="module" src="/assets/scripts/organizations.module.js"></script>
{% endblock %}
