{% extends "layouts/base.njk" %}

{% set bodyClass = "post" %}

{% block pageHeader %}
<header>
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
    {% endif %}
</header>
{% endblock %}

{% block content %}
<div class="content">
    {{ content | safe }}
</div>
{% endblock %}
