{% extends "layouts/base.njk" %}

{% set bodyClass = "projects" %}

{% block content %}
<div class="[ wrapper ]">
  <div id="projects">
      <div class="[ flow-lg ]">
          <filter-container class="[ filter ] [ flow ]">
              <h2 class="[ h3 ]">Filter Projects</h2>
              <form class="[ filters ]">
                  <label class="[ label ]" for="category">
                      Category:
                      <select class="[ select ]" name="category" id="category" data-filter-key="category">
                          <option value="">Any Category</option>
                          {% for category in projectTags.categories %}
                              <option value="{{ category }}">{{ category }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  {# <button type="reset" class="[ button ] [ button--sm ]" id="reset">{% include "svg/reset.svg" %}Clear Filters</button> #}
              </form>
              <div class="[ alert ]" role="alert" aria-live="polite">
              <p>Showing <strong data-filter-results="project/projects">{{ collections.projects.length }} projects</strong>.</p>
              </div>
              <div class="[ flow ] [ flow-md ]">
              {% for item in collections.projects %}
                  {% include "partials/components/card--project.njk" %}
              {% endfor %}
              </div>
          </filter-container>
      </div>
  </div>
  <noscript class="[ flow ] [ flow-md ]">
  {% if projects.length %}
      {% for item in projects %}
          {% include "partials/components/card--project.njk" %}
      {% endfor %}
      {% if pagination.pages.length > 1 %}
      {% include "partials/components/pagination.njk" %}
      {% endif %}
  </div>
  {% else %}
  <p>No related projects found.</p>
  {% endif %}
  </noscript>
</div>
{% endblock %}
