{% extends "layouts/base.njk" %}

{% set bodyClass = "projects" %}

{% block pageHeader %}
<header>
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <p class="subtitle">{{ subtitle | safe }}</p>
    {% endif %}
</header>
{% endblock %}

{% block content %}
{% if projects.length %}
    {% for item in projects %}
        <article class="entry">
            <h2>{{ item.data.title }}</h2>
            <p class="metadata"><span class="category">{{ item.data.category }}</span></p>
            {% if item.data.description %}
            <p>{{ item.data.description | safe }}</p>
            {% endif %}
            <p><a href="{{ item.data.link }}">Visit website<span class="visually-hidden"> for &ldquo;{{ item.data.title }}&rdquo;</span></a></p>
        </article>
    {% endfor %}
{% endif %}
{% endblock %}
