{% extends "layouts/base.njk" %}

{% set bodyClass = "resource" %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
    <p class="[ metadata ]">{% if author %}By <span class="author">{{ author }}</span> &middot; {% endif %}Posted <time datetime="{{ date | isoDate }}" class="dt-published">{{ date | formatDate }}</time></p>
{% endblock %}

{% block content %}
    <div class="[ prose ]">
        {{ content | safe }}
        {% if supportiveMaterial %}
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterial %}
        <p>{{ item.label }} &middot; <a href="{{ item.file }}">Download File<span class="sr-only"> &ldquo;{{ item.label }}&rdquo;</span></a></p>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
