{% extends "layouts/base.njk" %}

{% set bodyClass = "resource" %}
{% set headerBg = "orange-75" %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
    <p class="[ metadata ]">{% if author %}By <span class="author">{{ author }}</span> / {% endif %}Posted <time datetime="{{ date | isoDate }}" class="dt-published">{{ date | formatDate }}</time></p>
{% endblock %}

{% block content %}
<div class="[ wrapper prose ]">
    <div class="[ prose ]">
        {{ content | safe }}
        {% if supportiveMaterial %}
        <div class="[ supportive-materials ] [ flow ]">
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterial %}
        <p><a download href="{{ item.file }}">{{ item.label }} {% include "svg/download.svg" %}</a></p>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
