{% extends "layouts/base.njk" %}

{% set bodyClass = "robot-activity" %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
    <p class="[ tags ]">
        <span class="[ tag ]">{{ robot }}</span> &middot; <span class="[ tag ]">{{ experience }}</span> &middot; <span class="[ tag ]">{{ topic }}</span>
    </p>
{% endblock %}

{% block sidebar %}
<div class="[ sidebar ]">
    <div id="what-you-need" class="[ callout ] [ flow ]">
        <h2>What you need</h2>
        {{ whatYouNeed | markdown | safe }}
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="[ prose ]">
        {{ content | safe }}
        {% if supportiveMaterial %}
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterial %}
        <p>{{ item.label }} &middot; <a href="{{ item.file }}">Download File<span class="sr-only"> &ldquo;{{ item.label }}&rdquo;</span></a></p>
        {% endfor %}
        {% endif %}
    </div>
    {% if relatedLessonPlans %}
    <div class="[ related-activities ]">
        <h2>You may like this:</h2>
        <div class="[ grid ]">
        {% for relatedLessonPlan in relatedLessonPlans %}
            {% for lessonPlan in collections.lessonPlans %}
                {% if lessonPlan.data.title == relatedLessonPlan %}
                    {% set item = lessonPlan %}
                    {% include "partials/components/card--lesson-plan.njk" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
