{% extends "layouts/base.njk" %}

{% set bodyClass = "robot-activities" %}
{% set headerBg = "green-85" %}
{% set title = "Activities with " + robot.data.title %}
{% set manufacturerGuide = false %}

{% block pageHeader %}
    <figure>
    <img src="{{ robot.data.metaImage }}" alt="{{ robot.data.metaImageAlt }}" />
    </figure>
    <div class="[ flow ]">
      <h1>{{ robot.data.title }}</h1>
      <p class="[ subtitle ] [ prose ]">
        {{ subtitle | safe }}
      </p>
      <p><a href="/learn/robots/{{ robot.data.title | slug }}/guide/">Check out the manufacturer's guide</a></p>
    </div>
{% endblock %}

{% block content %}
<div class="[ wrapper ]">
  <div id="robot-activities">
      <div class="[ flow-lg ]">
          <filter-container class="[ filter ] [ flow ]" data-oninit>
              <h2 class="[ h3 ]">Filter Activities</h2>
              <form class="[ filters ]">
                  <label class="[ label ]" for="experience">
                      Experience:
                      <select class="[ select ]" bind:value={selectedExperience} name="experience" id="experience" data-filter-bind="experience">
                          <option value="">Any Level</option>
                          {% for level in robotActivityTags.experience %}
                              <option value="{{ level }}">{{ level }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  <label class="[ label ]" for="topic">
                      Topic:
                      <select class="[ select ]" bind:value={selectedTopic} name="topic" id="topic" data-filter-bind="topic">
                          <option value="">Any Topic</option>
                          {% for topic in robotActivityTags.topics %}
                              <option value="{{ topic }}">{{ topic }}</option>
                          {% endfor %}
                      </select>
                  </label>
                  <button type="reset" class="[ button ] [ button--sm ]" id="reset">{% include "svg/reset.svg" %}Clear Filters</button>
              </form>
              <div class="[ alert ]" role="alert" aria-live="polite">
              <p>Showing <strong data-filter-results="activity/activities">{{ robotActivities.length }} activities</strong>.</p>
              </div>
              <div class="[ grid ]">
              {% for item in collections.robotActivities %}
                  {% if item.data.tags[0] === robot.data.title %}
                  {% include "partials/components/card--robot-activity.njk" %}
                  {% endif %}
              {% endfor %}
              </div>
          </filter-container>
      </div>
  </div>
  <noscript class="[ flow-lg md:flow-xl ]">
  {% if robotActivities.length %}
      <div class="[ grid ]">
      {% for item in robotActivities %}
          {% include "partials/components/card--robot-activity.njk" %}
      {% endfor %}
      </div>
      {% if pagination.pages.length > 1 %}
      {% include "partials/components/pagination.njk" %}
      {% endif %}
  {% endif %}
  </noscript>
</div>
{% endblock %}
