{% extends "layouts/base.njk" %}

{% set bodyClass = "robot-activity" %}

{% block pageHeader %}
    <h1>{{ title }}</h1>
    <p class="[ tags ]">
        <span class="[ tag ]">{{ robot }}</span> &middot; <span class="[ tag ]">{{ experience }}</span> &middot; <span class="[ tag ]">{{ topic }}</span>
    </p>
{% endblock %}

{% block sidebar %}
<div class="[ sidebar ]">
    <div id="what-you-need" class="[ callout ] [ flow ]">
        <h2>What you need</h2>
        {{ whatYouNeed | markdown | safe }}
    </div>
    {% if books %}
    <div id="books" class="[ callout ] [ flow ]">
        <h2>Book suggestions</h2>
        {% for book in books %}
        <div class="[ book ] [ flow ]">
            <img src="{{ book.coverImage }}" alt="" role="decoration" />
            <p><em>{{ book.title }}</em><br />
            By {{ book.author }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <div class="[ prose ]">
        {{ content | safe }}
        {% if supportiveMaterial %}
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterial %}
        <p>{{ item.label }} &middot; <a href="{{ item.file }}">Download File<span class="sr-only"> &ldquo;{{ item.label }}&rdquo;</span></a></p>
        {% endfor %}
        {% endif %}
    </div>
    {% if relatedRobotActivities %}
    <div class="[ related-activities ]">
        <h2>You may like this:</h2>
        <div class="[ grid ]">
        {% for relatedRobotActivity in relatedRobotActivities %}
            {% for robotActivity in collections.robotActivities %}
                {% if robotActivity.data.title == relatedRobotActivity %}
                    {% set item = robotActivity %}
                    {% include "partials/components/card--robot-activity.njk" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
