{% extends "layouts/base.njk" %}

{% set bodyClass = "robot-activity" %}
{% if (topic === "Sequencing") or (topic === "Conditions") or (topic === "Debugging") %}
  {% set headerBg = "yellow-75" %}
{% elif topic === "Sorting & Patterns" %}
  {% set headerBg = "orange-75" %}
{% elif topic === "Direction Based" %}
  {% set headerBg = "green-65" %}
{% elif topic === "Goal Based" %}
  {% set headerBg = "blue-35" %}
  {% set headerText = "white" %}
{% elif topic === "Introduction" %}
  {% set headerBg = "blue-65" %}
{% endif %}

{% block pageHeader %}
    <figure>
    <img src="{{ metaImage }}" alt="{{ metaImageAlt }}" />
    </figure>
    <div>
    <h1>{{ title }}</h1>
    <p class="[ tags ]">
        <span class="[ tag ]">{{ robot }}</span> <span class="[ tag ]">{{ experience }}</span> <span class="[ tag ]">{{ topic }}</span>
    </p>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
  <div class="[ wrapper ] [ has-sidebar ]">
    <div class="[ sidebar ] [ flow ] [ bg bg--cream-95 ]">
        <div id="what-you-need" class="[ callout ] [ flow ]">
            <h2>What you need</h2>
            {% renderString whatYouNeed, "md" %}
        </div>
        {% if books %}
        <div id="books" class="[ callout ] [ flow ]">
            <h2>Book suggestions</h2>
            {% for book in books %}
            <div class="[ book ]">
                <img src="{{ book.coverImage }}" alt="" role="decoration" />
                <div class="book__meta">
                  <p class="book__title">{{ book.title }}</p>
                  <p class="book__author">{{ book.author }}</p>
                </div>
            </div>
            {% endfor %}
            <p><a href="/learn/resources/picture-book-list/">Check out other books</a></p>
        </div>
        {% endif %}
    </div>
    <div class="[ prose ]">
        {{ content | safe }}
        {% if supportiveMaterial %}
        <div class="[ supportive-materials ] [ flow ]">
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterial %}
        <p><a download href="{{ item.file }}">{{ item.label }} {% include "svg/download.svg" %}</a></p>
        {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>

    {% if relatedRobotActivities %}
    <div class="[ bg bg--purple-35 text--white ]">
      <div class="[ wrapper ]">
        <div class="[ related-activities ]">
          <h2>You may like this:</h2>
          <div class="[ grid ]">
          {% for relatedRobotActivity in relatedRobotActivities %}
              {% for robotActivity in collections.robotActivities %}
                  {% if robotActivity.data.title == relatedRobotActivity %}
                      {% set item = robotActivity %}
                      {% include "partials/components/card--robot-activity.njk" %}
                  {% endif %}
              {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
