// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
[role="contentinfo"] {
    background-color: var(--color-black-25);
    color: var(--color-white);
    margin-top: auto;
}
