form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > * + * {
    margin-block-start: var(--space-lg);
  }

  > div {
    display: flex;
    flex-direction: column;
    inline-size: 100%;

    @media (min-width: 960px) {
      &.half {
        inline-size: calc(50% - var(--space-md));
      }
    }

    &.hidden {
      display: none;
    }
  }

  > div label,
  legend {
    font-size: var(--step-1);
    font-weight: 500;
  }

  > div label + input,
  > div label + textarea {
    margin-block-start: var(--space-sm);
  }

  .hint {
    margin-block-start: var(--space-sm);
  }

  fieldset {
    border: 0;
    inline-size: 100%;
    padding: 0;

    legend {
      margin-block-end: var(--space-sm);
    }

    div + div {
      margin-block-start: var(--space-md);
    }
  }

  [type="submit"] {
    margin-block: var(--space-xl) 0;
    margin-inline: auto;
  }
}
