// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

.sidebar {
    max-width: 20rem;
}

.sidebar > * + * {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .sidebar {
        float: right;
        margin: 0 0 0 1.5rem;
        max-width: 100%;
        width: calc(1 / 3 * 100%);

        @supports (width: max(25%, 20rem)) {
            width: max(calc(1 / 3 * 100%), calc(100% - (65ch + 1.5rem)));
        }
    }
}
