---
permalink: /activities-onscreen.json
---
[
    {%- for activity in collections.onscreenActivities %}
    {
        "title": "{{ activity.data.title }}",
        "url": "{{ activity.url }}",
        "type": "{{ activity.data.type }}",
        "experience": "{{ activity.data.experience }}",
        "subject": "{{ activity.data.subject }}",
        "description": "{{ activity.data.description }}"
    }{{ "" if loop.last else "," }}
    {%- endfor %}
]
