---
layout: layouts/page
title: About
subtitle: We’re designing educational coding tools for kids who have been left out of learning—especially those with complex needs.
permalink: /about/
eleventyNavigation:
    key: About
    order: 5
---
<div class="[ wrapper ]">
  
</div>
