---
layout: layouts/base
title: Weavly
subtitle: Weavly is a tool designed for everyone to learn about coding. Explore activities and discover new ways to turn your ideas into reality. Share your ideas and creations with others.
headerBg: green-85
permalink: /
eleventyNavigation:
    key: Home
    order: 0
---
<div class="[ bg--yellow-85 ]">
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2>Educational Activities and Learning Resources</h2>
            <p>Check out a collection of educational activities and coding tools. These resources are created based on working with learners with diverse needs and various coding experiences in mind.</p>
            <p><a class="call-to-action" href="/learn/">Learn</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
            {% svgPlaceholder "680", "425" %}
        </div>
    </div>
  </div>
</div>
<div class="[ bg--red-75 ]">
  <div class="[ wrapper ]">
    <div class="[ three:two ]">
        <div class="[ three:two__three ] [ flow ]">
            {% svgPlaceholder "680", "425" %}
        </div>
        <div class="[ three:two__two ] [ flow ]">
          <h2>What’s Accessible Coding?</h2>
            <p>Accessible coding recognizes all students have unique needs. Digital spaces for coding are growing to support different language, learning, sensory, physical and cognitive needs and preferences of learners to ensure no one is left out.</p>
            <p><a class="call-to-action" href="/about/">About</a></p>
        </div>
    </div>
  </div>
</div>
