---
layout: layouts/page
title: Learn
subtitle: Here you can find tools and resources for anyone who likes to learn to code. Beginners, learners, parents, and teachers can explore many activities to find a place to start.
permalink: /learn/
eleventyNavigation:
    key: Learn
    order: 3
headerBg: yellow-85
---
<div class="[ bg bg--orange-75 ]">
  <svg class="[ wave wave--top ]" viewBox="0 0 1437 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M612.315 52C400.697 52 111.495 20.667-4 0h1440.92c-81.96 0-560.084 52-824.605 52z" fill="var(--color-yellow-85)" /></svg>
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2 id="coding-resources">Coding Resources</h2>
            <p>Here you can find a collection of techniques and strategies to help create and set up an accessible environment for
            coding education.</p>
            <p><a class="call-to-action" href="/learn/resources/">Resources</a></p>
        </div>
        <div class="[ two:three__three ] ">
          {% image "./src/assets/media/coding-resources.jpg", "", "50vw, 100vw" %}
        </div>
    </div>
  </div>
</div>
<div>
  <div class="[ wrapper ]">
    <h2 class="[ center ]" id="activities">Activities at Home</h2>
    <div class="[ switcher ]">
        <div>
            <div class="[ card card--small ]">
                <figure class="[ card__image ]">
                  {% image "./src/assets/media/lego_sequencing.jpg", "", "50vw, 100vw" %}
                </figure>
                <div class="[ card__content ] [ flow ]">
                    <h3><a href="/learn/activities/#unplugged">Unplugged</a></h3>
                    <p>Get &ldquo;hands-on&rdquo; with activities without using a computer or digital device</p>
                </div>
            </div>
            <div class="[ card card--small ]">
                <figure class="[ card__image ]">
                  {% image "./src/assets/media/mission-_hunting_the_sunken_treasure.jpg", "", "50vw, 100vw" %}
                </figure>
                <div class="[ card__content ] [ flow ]">
                    <h3><a href="/learn/activities/#on-screen">On-Screen</a></h3>
                    <p>Learn the basics of coding with activities using a computer or digital device</p>
                </div>
            </div>
            <div class="[ card card--small ]">
                <figure class="[ card__image ]">
                  {% image "./src/assets/media/free_play_with_dash.jpg", "", "50vw, 100vw" %}
                </figure>
                <div class="[ card__content ] [ flow ]">
                    <h3><a href="/learn/activities/#hybrid">Hybrid</a></h3>
                    <p>Mix everything up! Combine virtual and physical interactions, or invite the robots</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="[ bg bg--green-85 ]">
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2 id="robot-activities">Activities with Robots</h2>
            <p>Check out a great collection of activities you can do with your robots to develop your computational thinking and programming skills.</p>
            <p><a class="call-to-action" href="/learn/robots/">Robot Activities</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
            <img src="/assets/media/dashdot.png" alt="" width="640" height="360" /> 
        </div>
    </div>
  </div>
</div>
<div class="[ bg bg--cream-95 ]">
  <div class="[ wrapper ]">
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2>Trainings & Workshops</h2>
            <p>Check out “Debug’d” upcoming online and in-person trainings and workshops.</p>
            <p>Debugd’s explicit instruction, differentiated strategies, adapted electronic and ready-to-print materials deliver meaningful participation in classroom coding regardless of challenges</p>
            <p><a class="call-to-action" rel="external" href="https://www.bridges-canada.com/pages/debugd-coding-curriculum">Visit Debug’d</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
          {% image "./src/assets/media/debugd.jpg", "", "50vw, 100vw" %}
        </div>
    </div>
  </div>
  <svg class="[ wave wave--bottom ]" viewBox="0 0 1434 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M824.685 0C1036.3 0 1325.5 31.334 1441 52H.078C82.042 52 560.164 0 824.685 0z" fill="var(--color-red-75)"/></svg>
</div>
<div class="[ bg bg--red-75 ]">
  <div class="[ wrapper ]">
    <div class="[ center flow ]">
        <h2><a href="mailto:sshahi@ocadu.ca?subject=Share%20Learning%20Resources">Share Learning Resources</a></h2>
        <p>
            Support other learners by sharing your&nbsp;<br class="md:hidden" />
            ideas, handouts and activities.
        </p>
    </div>
  </div>
</div>
