---
layout: layouts/page
title: Learn
subtitle: Here you can find tools and resources for anyone who likes to learn to code. Beginners, learners, parents, and teachers can explore many activities to find a place to start.
permalink: /learn/
eleventyNavigation:
    key: Learn
    order: 3
---
<div class="[ flow ] [ flow-lg md:flow-xl ]">
    <div class="[ switcher ]">
        <div>
            <div class="[ flow ]">
                {% svgPlaceholder "680", "425" %}
                <p><strong><a href="#accessible-coding-101">Accessible Coding 101</a></strong></p>
                <p>Find tips and strategies to help you teach coding in a more accessible way</p>
            </div>
            <div class="[ flow ]">
                {% svgPlaceholder "680", "425" %}
                <p><strong><a href="#activities-library">Activities Library</a></strong></p>
                <p>Explore a mix of un-plugged, on-screen or hybrid activities to make music, create games, and tell stories</p>
            </div>
            <div class="[ flow ]">
                {% svgPlaceholder "680", "425" %}
                <p><strong><a href="#robot-activities">Lesson Plans</a></strong></p>
                <p>Pick inclusive coding lessons that match your curriculum, learners&rsquo; needs, and available resources</p>
            </div>
        </div>
    </div>
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2 id="accessible-coding-101">Accessible Coding 101</h2>
            <p>Here you can find a collection of techniques and strategies to help create and set up an accessible environment for
            coding education.</p>
            <p><a href="/learn/resources/">Check out resources</a></p>
        </div>
        <div class="[ two:three__three ] ">
            {% svgPlaceholder "680", "425" %}
        </div>
    </div>
    <div>
        <h2 id="activities-library">Activities at Home</h2>
        <div class="[ switcher ]">
            <div>
                <div class="[ flow ]">
                    {% svgPlaceholder "680", "425" %}
                    <h3>Unplugged</h3>
                    <p>Get &ldquo;hands-on&rdquo; with activities without using a computer or digitial device</p>
                    <p><a href="/learn/activities/#unplugged">Check out unplugged activities</a></p>
                </div>
                <div class="[ flow ]">
                    {% svgPlaceholder "680", "425" %}
                    <h3>On-Screen</h3>
                    <p>Learn the basics of coding with activities using a computer or digital device</p>
                    <p><a href="/learn/activities/#on-screen">Check out on-screen activities</a></p>
                </div>
                <div class="[ flow ]">
                    {% svgPlaceholder "680", "425" %}
                    <h3>Hybrid</h3>
                    <p>Mix everything up! Combine virtual and physical interactions, or invite the robots</p>
                    <p><a href="/learn/activities/#hybrid">Check out hybrid activities</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2 id="robot-activities">Activities with Robots</h2>
            <p>This collection of lesson plans are created with the K-12 coding curriculum in mind. These aim to support educators to
            teach basic concepts of coding to learners with unique needs.</p>
            <p><a href="/learn/robots/">Check out activities with robots</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
            {% svgPlaceholder "680", "425" %}
        </div>
    </div>
    <div class="[ two:three ]">
        <div class="[ two:three__two ] [ flow ]">
            <h2>Trainings & Workshops</h2>
            <p>Check out &ldquo;Debug&rsquo;d&rdquo; upcoming online and in-person trainings and workshops </p>
            <p><a href="#">Visit Debug&rsquo;d website</a></p>
        </div>
        <div class="[ two:three__three ] [ flow ]">
            {% svgPlaceholder "680", "425" %}
        </div>
    </div>
    <div class="[ center flow ]">
        <h2><a href="#">Share Learning Resources</a></h2>
        <p>
            Support other learners by sharing your&nbsp;<br class="md:hidden" />
            ideas, handouts and activities.
        </p>
    </div>
</div>
