---
layout: layouts/page
title: Learn
subtitle: Here you can find tools and resources for anyone who likes to learn to code. Beginners, learners, parents, and teachers can explore many activities to find a place to start.
permalink: /learn/
eleventyNavigation:
    key: Learn
    order: 3
---
<div>
    <div class="flex flex-col sm:flex-row">
        <div class="w-full space-y-4 sm:w-1/3">
            {% svgPlaceholder "680", "425" %}
            <p class="text-lg font-bold"><a href="#accessible-coding-101">Accessible Coding 101</a></p>
            <p>Find tips and strategies to help you teach coding in a more accessible way</p>
        </div>
        <div class="w-full mt-4 space-y-4 sm:w-1/3 sm:ml-6 sm:mt-0">
            {% svgPlaceholder "680", "425" %}
            <p class="text-lg font-bold"><a href="#activities-library">Activities Library</a></p>
            <p>Explore a mix of un-plugged, on-screen or hybrid activities to make music, create games, and tell stories</p>
        </div>
        <div class="w-full mt-4 space-y-4 sm:w-1/3 sm:ml-6 sm:mt-0">
            {% svgPlaceholder "680", "425" %}
            <p class="text-lg font-bold"><a href="#lesson-plans">Lesson Plans</a></p>
            <p>Pick inclusive coding lessons that match your curriculum, learners&rsquo; needs, and available resources</p>
        </div>
    </div>
</div>
<div class="flex flex-col mt-12 md:mt-32 md:flex-row md:items-center">
    <div class="w-full space-y-4 md:w-2/5 md:pr-6">
        <h2 id="accessible-coding-101">Accessible Coding 101</h2>
        <p>Here you can find a collection of techniques and strategies to help create and set up an accessible environment for
        coding education.</p>
        <p><a href="/learn/resources/">Check out resources</a></p>
    </div>
    <div class="w-full mt-6 md:w-3/5 md:mt-0">
        {% svgPlaceholder "680", "425" %}
    </div>
</div>
<div class="mt-12 md:mt-32">
    <h2 id="activities-library">Activities Library</h2>
    <div class="flex flex-col sm:flex-row">
        <div class="w-full space-y-4 sm:w-1/3">
            {% svgPlaceholder "680", "425" %}
            <h3>Unplugged</h3>
            <p>Get &ldquo;hands-on&rdquo; with activities without using a computer or digitial device</p>
            <noscript>
            <p><a href="/learn/activities/#unplugged">Check out unplugged activities</a></p>
            </noscript>
            <p><a href="/learn/activities/?type=unplugged">Check out unplugged activities</a></p>
        </div>
        <div class="w-full mt-4 space-y-4 sm:w-1/3 sm:ml-6 sm:mt-0">
            {% svgPlaceholder "680", "425" %}
            <h3>On-Screen</h3>
            <p>Learn the basics of coding with activities using a computer or digital device</p>
            <noscript>
            <p><a href="/learn/activities/#on-screen">Check out on-screen activities</a></p>
            </noscript>
            <p><a href="/learn/activities/?type=unplugged">Check out unplugged activities</a></p>
        </div>
        <div class="w-full mt-4 space-y-4 sm:w-1/3 sm:ml-6 sm:mt-0">
            {% svgPlaceholder "680", "425" %}
            <h3>Hybrid</h3>
            <p>Mix everything up! Combine virtual and physical interactions, or invite the robots</p>
            <noscript>
            <p><a href="/learn/activities/#hybrid">Check out hybrid activities</a></p>
            </noscript>
            <p><a href="/learn/activities/?type=unplugged">Check out unplugged activities</a></p>
        </div>
    </div>
</div>
<div class="flex flex-col mt-12 md:mt-32 md:flex-row md:items-center">
    <div class="w-full mt-6 space-y-4 md:w-2/5 md:mt-0 md:pr-6">
        <h2 id="lesson-plans">Lesson Plans</h2>
        <p>This collection of lesson plans are created with the K-12 coding curriculum in mind. These aim to support educators to
        teach basic concepts of coding to learners with unique needs.</p>
        <p><a href="/learn/lesson-plans/">Check out lesson plans</a></p>
    </div>
    <div class="w-full mt-6 md:w-3/5 md:mt-0">
        {% svgPlaceholder "680", "425" %}
    </div>
</div>
<div class="flex flex-col mt-12 md:mt-32 md:flex-row md:items-center">
    <div class="w-full mt-6 space-y-4 md:w-2/5 md:mt-0 md:pr-6">
        <h2>Trainings & Workshops</h2>
        <p>Check out &ldquo;Debug&rsquo;d&rdquo; upcoming online and in-person trainings and workshops </p>
        <p><a href="#">Visit Debug&rsquo;d website</a></p>
    </div>
    <div class="w-full mt-6 md:w-3/5 md:mt-0">
        {% svgPlaceholder "680", "425" %}
    </div>
</div>
<div class="mt-12 md:mt-32">
    <div class="space-y-4 text-center">
        <h2><a href="#">Share Learning Resources</a></h2>
        <p>
            Support other learners by sharing your&nbsp;<br class="md:hidden" />
            ideas, handouts and activities.
        </p>
    </div>
</div>
